:root {
  --bg-dark: #000;
  --primary-color: #ff4500;
  --input-bg: #fff;
  --input-text: #fff;
  --button-bg: #fff;
  --button-hover: #e03e00;
}


.container {
  background-color: var(--bg-dark);
  color: #fff;
  padding: 1rem;
  display: flex;
  flex-direction: column; 
  align-items: center;
  text-align: center;
}

@media (min-width: 768px) {
  .container {
    flex-direction: row; 
    justify-content: space-between;
    padding: 2rem 4rem;
  }
}


@media (min-width: 1200px) {
  .container {
    max-width: 1200px;
    margin: 1rem auto;
    border-radius: 20px;
  }
}


.container h3 {
  font-weight: bold;
  margin-bottom: 1rem;
  font-size: 1.2rem;
}


.form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 100%;
  max-width: 400px;
}


.inputWrapper {
  position: relative;
  width: 100%;
}

.inputWrapper i {
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
  color: #888;
  pointer-events: none;
}

.inputWrapper input {
  width: 87%;
  padding: 0.5rem 0.5rem 0.5rem 2.5rem; 
  border-radius: 4px;
  border: none;
  font-size: 1rem;
  background-color: var(--input-bg);
  color: var(--input-text);
   border-radius: 20px;
   color: var(--bg-dark);
}

.inputWrapper input::placeholder {
  color: #aaa;
}


.form button {
  padding: 0.5rem 1rem;
  background-color: var(--button-bg);
  color: #000;
  border: none;
  border-radius: 20px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.form button:hover {
  background-color: var(--button-hover);
}

@media (min-width: 768px) {  
  .form {
    flex-direction: column;
    gap: 0.5rem;
  }

  .inputWrapper {
    flex: 1;
  }

  .form button {
    flex-shrink: 0;
  }

   .container div h3 {
  max-width: 65%;
}

  .container h3 {
  max-width: fit-content;
  font-size: 2.2rem;
}
}
