.container {
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 7.5rem; 
  padding: 2.5rem; 
  flex-wrap: wrap;
}

.container img {
  width: 120px;
  height: 23px;
  filter: brightness(0) invert(1);
  transition: transform 0.3s ease, filter 0.3s ease;
}

.container img:hover {
  transform: scale(1.1);
  filter: brightness(1) invert(0);
}

@media (min-width: 1024px) {
  .container img {
    width: 150px;
  }
}

@media (max-width: 768px) {
  .container {
    gap: 3rem; 
    padding: 1.5rem;
  }

  .container img {
    width: 100px
  }
}

@media (max-width: 480px) {
  .container {
    flex-direction: row;
    justify-content: space-around;
    gap: 2rem;
    padding: 1rem;
  }

  .container img {
    width: 80px;
  }
}
