:root {
    --ff: "Roboto", sans-serif;
    --link-text: #fff;
    --primary-bg: #F2F0F1;
    --spacing-xl: 40px;
    --spacing-lg: 24px;
}


.container {  
    display: flex;
    flex-direction: column; 
    align-items: center;
    background-color: var(--primary-bg);
    padding: var(--spacing-lg); 
    text-align: center;
    flex-direction: column-reverse;
}


.container > div {   
    width: 100%;
    max-width: 500px; 
    padding: var(--spacing-lg) 0;
    order: 2;
}


.container h1 {
    font-family: var(--ff);
    font-weight: 900; 
    font-size: 2.5rem; 
    line-height: 1.2;
    margin-bottom: 1rem;
    color: #333;
}


.container p {
    font-family: var(--ff);
    font-size: 1rem;
    line-height: 1.5;
    color: #666;
    margin-bottom: var(--spacing-lg);
}


.container a {
    display: block; 
    width: 80%;
    max-width: 250px;
    margin: 0 auto var(--spacing-lg) auto; 
    color: var(--link-text);
    background-color: black;    
    padding: 16px 32px;     
    border-radius: 40px;
    text-decoration: none;
    font-weight: bold;
    font-size: 1.1rem;

    transition: background-color 0.3s ease;
}

.container a:hover {
    background-color: #333; 
}


.container > div img {
    margin-top: 10px;
    max-width: 150px; 
    height: auto;
}


.container figure {
    width: 100%;
    order: 1; 
    margin: 0;
}

.container figure img {
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 10px; 
}


@media (min-width: 768px) {
    .container {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        max-width: 1200px;
        margin: 0 auto; 
        padding: var(--spacing-xl);
    }

  
    .container > div {
        order: 1;
        text-align: left;
        padding-right: var(--spacing-xl);
        flex: 1; 
    }

   
    .container figure {
        order: 2; 
        flex: 1; 
        max-width: 50%; 
    }

    
    .container h1 {
        font-size: 3.5rem; 
    }
    
    .container p {
        font-size: 1.1rem;
    }

    
    .container a {
        display: inline-block;
        margin: 0;        
        padding: 18px 40px; 
      
    }

  
    .container > div img {
        margin-top: var(--spacing-lg);
        margin-left: var(--spacing-lg); 
        max-width: 200px; 
    }
}