:root {
    --ff: "Roboto", sans-serif;
    --link-text: #fff;
    --primary-bg: #F2F0F1;
    --spacing-xl: 40px;
    --spacing-lg: 24px;
}


.container {
    width: 100%;
    background-color: var(--primary-bg);
}


.inner {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    text-align: center;
    padding: var(--spacing-lg);
    max-width: 1200px;
    margin: 0 auto;
}


.inner > div {   
    width: 100%;
    max-width: 500px; 
    padding: var(--spacing-lg) 0;
}

.inner h1 {
    font-family: var(--ff);
    font-weight: 900; 
    font-size: 2.5rem; 
    line-height: 1.2;
    margin-bottom: 1rem;
    color: #333;
}

.inner p {
    font-family: var(--ff);
    font-size: 1rem;
    line-height: 1.5;
    color: #666;
    margin-bottom: var(--spacing-lg);
}


.inner a {
    display: block; 
    width: 80%;
    max-width: 250px;
    margin: 0 auto var(--spacing-lg) auto; 
    color: var(--link-text);
    background-color: black;    
    padding: 16px 32px;     
    border-radius: 40px;
    text-decoration: none;
    font-weight: bold;
    font-size: 1.1rem;
    transition: background-color 0.3s ease;
}

.inner a:hover {
    background-color: #333; 
}


.inner > div img {
    margin-top: 10px;
    max-width: 250px; 
    height: auto;
}


.inner figure {
    width: 100%;
    margin: 0;
}

.inner figure img {
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 10px; 
}

@media (min-width: 768px) {
    .inner {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: var(--spacing-xl);
    }

    .inner > div {
        text-align: left;
        padding-right: var(--spacing-xl);
        flex: 1; 
    }

    .inner figure {
        flex: 1; 
        max-width: 50%; 
    }

    .inner h1 {
        font-size: 3.5rem; 
    }
    
    .inner p {
        font-size: 1.1rem;
    }

    .inner a {
        display: inline-block;
        margin: 0;        
        padding: 18px 40px; 
    }

    .inner > div img {
        margin-top: var(--spacing-lg);               
        max-width: 450px; 
    }
}
